[submodule "carrington-core"]
	path = carrington-core
	url = https://github.com/crowdfavorite/wp-carrington-core.git
[submodule "Tax-Meta-Class"]
	path = Tax-Meta-Class
	url = https://github.com/bainternet/Tax-Meta-Class.git
[submodule "assets/js/waypoints"]
	path = assets/js/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "assets/fonts/font-awesome"]
	path = assets/fonts/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
