.login h1 a {
       background: white url('./url.png');
       background-size: 500px 132px;
	   width: 500px;
	   height: 132px;
	   margin-left: -62px;
}
    
body.login {
	background: white;
}

.login form {
	margin-left:auto;
	margin-right:auto;
	padding:30px;
	border: 1px solid rgba(0,0,0,.2);
	background-clip: padding-box;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	overflow: hidden;
}