html{
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	font-family: "proxima-nova";
	font-size: 20px;
	font-weight: 300;
	margin-top: 50px;
	padding: 0;
}

.lib-data {
	font-weight: 400;
}

.navbar-fixed-top {
	font-size: 16px;
	font-weight: 400;
}

h1 {
	font-weight: 700;
}

h3 {
	font-weight: 300;
	font-size: 1.2em;
}

img#ac_filler_logo {
	height: 1px;
}

h5.partner {
	text-align: center;
}

#ac_logo_space {
	overflow: hidden;
}

#ac_logo_space img {
	max-width: 100%;
}

img.front-cover {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 300px;
}

div#issn_copyright, div#cdrs_full {
	text-align: center;
}

div#cdrs_crab {
	text-align: right;
	padding-right: 5px;
}

.pdf a {
	padding-left: 20px;
}

body.home h1#site-name {
	text-align: center;
}

h3.super, h3.super a {
	text-transform: uppercase;
	color: silver;
}

span.super-r {
	display: block;
	float: right;
}

body.home #primary {
	text-align: center;
}

h1.archive-title {
	display: inline-block;
	margin: 40px 0;
	text-align: center;
}

h2.entry-title {
	font-size: 1.3em;
	line-height: 1.4;
	margin: 0 0 5px 0;
}

.tax-sections #primary li {
	list-style: none;
}

h3.section-label {
	margin: 0 0 12px 0;
}

h3.section-label a,
h3.section-label span {
	background: #d3d3d3;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 5px 12px 3px 12px;
	text-align: center;
	text-transform: uppercase;
}

h3.section-label span {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-weight: bold;
}

h3.section-label a:hover {
	background: #bbb;
}

.navbar-form {
	margin-bottom: 0px;
}

h3.authors {
	margin-top: 0;
}

h3.home-title{
 	color: #ccc;
	font-size: 48px;
	text-transform: uppercase;
	margin-top: .5em;
	margin-bottom: 0em;
}

h2 {
	font-weight: 500;
	font-size: 1.5em;
}

.single-article h2 {
	font-size: 1.0em;
}

.single-article h1 {
	font-size: 1.444em;
}

h1 {
	font-weight: 700;
	font-size: 1.8em;
}

p.tagline {
	font-weight: 100;
}

#scrolled-head {
	position: fixed;
	left: 15px;
	top: 100px;
	max-width: 164px;
}

#scrolled-head h1 {
	font-size: 1em;
	font-weight: 500;
}

#scrolled-head h2 {
	font-size: .9em;
}

#article-tools {
	max-width: 180px;
	position: fixed;
	right: 15px;
	top: 120px;
}

.alignright {
	float:right;
	margin-left: 10px;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.entry-content table {
	text-align: center;
}

.entry-content table {
	width: 100%
	border: 1px solid #B0B0B0;
	margin-bottom: 2em;
	margin-top: 2em;
}

.entry-content table tbody {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.entry-content table thead {
	text-align: left;
}

.entry-content table thead th {
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px;
}

.entry-content table td {
	padding: 3px 10px;
}

.entry-content tbody tr:nth-child(even) {
	background: white;
}

.entry-content td {
	padding: 5px 10px;
	text-align: center;
}

.entry-content tr {
	border-bottom: 1px solid silver;
}

 table.lib-data {
	margin-top: 2em;
	font-size: .7em;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	width: 80%;
}

td.tlabel {
	color: #888;
	padding-right: 10px;
	text-align: right;
}

table.lib-data a {
	color: #333;
}

table.lib-data a:hover {
	color: blue;
}

table.lib-data tr {
	border-bottom: 1px dotted silver;
}

table.lib-data td {
	vertical-align: top;
	padding-top: .5em;
	padding-bottom: .5em;
}

.lib-data th {
	font-weight: 400;
	text-align: right;
	vertical-align: top;
	padding-right: 15px;
	padding-top: .5em;
}

#article-tools a {
	display: block;
	font-size: 14px;
	margin-left: 1.2em;
}

#article-tools h5 {
	font-size: 16px;
	border-bottom: 1px solid silver;
	color: #888;
	margin: 25px 0 10px 0;
}

#article-tools p {
	color: #888;
	font-size: 14px;
	font-weight: 400;
}

img.nav_logo {
	max-height: 100%;
}

.navbar-brand {
	overflow: hidden;
	padding: 0px;
}

#primary {
	min-height: 400px;
}

h3.home-title {
	display: inline-block;
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 14px;
	line-height: 1.2;
	color: #757575;
	text-align: justify;
}

div .wp-caption {
	background: #EBEBEB;
}

#the_favicon {
	max-width: 16px;
	max-height: 16px;
}

#home-search li, #site-search li {
	list-style-type: none;
}

#home-search .screen-reader-text, #site-search .screen-reader-text {
	display: none;
}

input#searchsubmit {
	display: none;
}

h2.authors {
	display: inline;
}

h5.schools {
	display: block;
}

.school_num {
	font-weight: bold;
}

#home-search button {
	margin-bottom: 5px;
}

.featured_image {
	text-align: center;
	padding-top: 15px;
}

.featured_img_issue {
	padding-top: 20px;
}

.featured_image img {
	max-width: 100%;
}

.featured_image_caption {
	font-size: 0.778em;
}

.cc_icon {
	width: 16px;
	height: 16px;
	float: right;
	opacity: 0.2;
}

.mobile_social_media span {
	text-align: center;
}

.mobile_social_media {
	padding-top: 10px;
}

sup .fa-envelope {
	margin-left: 5px;
	font-size: 0.8em
}

.home li {
	list-style-type: none;
}

.home #menu-homepage-nav li,
.home #menu-homepage-navigation li {
	display: inline-block;
	float: none;
	text-align: center;
}

.tax-issues li {
	list-style-type: none;
}

article.show-thumb-in-list {
	position: relative;
	text-align: left;
}

.bibliography {
	border: 1px solid #e7e7e7;
	font-size: 17px;
	font-weight: 400;
	margin: -24px auto 50px auto;
	max-width: 800px;
	padding: 50px;
	white-space: pre-line;
}

.bibliography p {
	margin: 30px 0;
}

ul.issue-index {
	list-style-type: none;
	margin: 0 0 50px 0;
	padding: 0;
}

ul.issue-index-thumbs li img {
	float: left;
	margin-right: 1em;
	height: 150px;
}

ul.issue-index li + li {
	margin-top: 2em;
}

ul.issue-index-thumbs li article {
	text-align: left;
	margin-left: 180px;
}

ul.issue-index-thumbs li + li {
	border-top: 1px solid #eee;
	padding-top: 2em;
}

ul.issue-index-thumbs h2 {
	margin-top: 0;
}

ul.issue-index-thumbs li:nth-child(even) article {
	margin-left: 2em;
}

h3.subhead {
	font-size: 20px;
	margin: -25px 0 40px 0;
	text-align: center;
}

h3.authors a {
	color: #aaa;
}

h3.section-label a {
	color: white;
}

h3.section-label a:hover {
	text-decoration: none;
}

nav#home-access-nav {
	display: inline-block;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

div.home-nav-wrap {
	text-align: center;
}

form#home-search {
	display: inline-block;
	float: right;
}

@media screen and (max-width: 1200px) {

	form#home-search {
		float: none;
		padding-bottom: 20px;
	}

	.navbar-nav {
		float: none;
	}
}

p.tagline {
	text-align: justify;
	margin-top: 1px;
	margin-bottom: 1em;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}

h3.issue-label {
	margin: 0 0 50px 0;
	text-transform: uppercase;
}

article.excerpt {
	width: 70%;
	margin: 0 auto 30px auto;
	text-align: center;
}

.prev_article {
	padding-left: 0px;
}

.next_article {
	padding-right: 0px
}

.next_article a {
	float: right;
}

.author_info {
	margin: -35px 0 80px 0;
	text-align: center;
}

.author_info h2 {
	font-size: 34px;
	font-weight: 300;
}

.mastheads {
	list-style: none;
}

.cc_img {
	float: right;
	max-height: 30px;
}

.section-label {
	text-align: center;
}

/* issue taxonomy page */

header[role="page-title"] {
	text-align: center;
}

.issue-print-date {
 color: #999;
 display: inline-block;
 margin: 0 0 0 8px;
}

/* issue archive page */

.archive-description {
	margin: -20px auto 50px auto;
	max-width: 700px;
}

.issue-archive {
	text-align: center;
}

.issue-archive ul.main-menu {
	margin: 0;
	padding: 0;
	width: 100%;
}

.issue-archive li {
	display: inline-block;
	list-style: none;
	margin: 5px;
	width: 25%;
}

.issue-archive li a {
	border: 1px solid #ddd;
	border-radius: 3px;
	display: block;
	font-weight: 400;
	padding: 30px;
}

.issue-archive li a:hover {
	color: #2a6496;
	border: 1px solid #2a6496;
	text-decoration: none;
}

.issue-archive .issue-count {
	color: #999;
	font-size: 12px;
}

/* footer */

footer {
	background: #f6f6f6;
	border-top: 1px solid #ddd;
	border-bottom: 20px solid #ddd;
	color: #555;
	display: flex;
	justify-content: center;
	font-size: 15px;
	font-weight: 400;
	margin-top: 50px;
}

footer .footer-logo,
footer .footer-links,
footer .footer-text {
	line-height: 1.7;
	padding: 25px 25px 20px 25px;
}

footer .footer-logo {
	max-width: 250px;
}

footer .footer-logo img {
	max-height: 70px;
	max-width: 100%;
}

footer .footer-links {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0;
}

footer .footer-links li {
	list-style: none;
}

footer .footer-text {
	max-width: 800px;
}

footer .footer-text p {
	margin-bottom: 0;
}

footer .footer-text span {
	color: #aaa;
}



/* print styles */

@media print {

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
	.col-sm-12 {
	  width: 100%;
	}
	.col-sm-11 {
	  width: 91.66666666666666%;
	}
	.col-sm-10 {
	  width: 83.33333333333334%;
	}
	.col-sm-9 {
	  width: 75%;
	}
	.col-sm-8 {
	  width: 66.66666666666666%;
	}
	.col-sm-7 {
	  width: 58.333333333333336%;
	}
	.col-sm-6 {
	  width: 50%;
	}
	.col-sm-5 {
	  width: 41.66666666666667%;
	}
	.col-sm-4 {
	  width: 33.33333333333333%;
	 }
	 .col-sm-3 {
	   width: 25%;
	 }
	 .col-sm-2 {
	   width: 16.666666666666664%;
	 }
	 .col-sm-1 {
	  width: 8.333333333333332%;
	 }

  body {
		background: white;
		color: black;
		min-width: 768px;
  }

  .entry-header {
  	overflow: hidden;
  	word-wrap: break-word;
  }

 .container {
	  width: auto;
		min-width: 750px;
  }

  div#scrolled-head, .navbar {
  	display: none;
  }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  a,
  a:visited {
    text-decoration: underline;
	}

  a[href]:after {
    content: " (" attr(href) ")";
    overflow: hidden;
	}

  abbr[title]:after {
    content: " (" attr(title) ")";
	}

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  #article-tools {
  	position: absolute;
  	top: 10px;
  	overflow: hidden;
  	max-width: 100%;
  }
}

/* media queries */

@media (max-width: 767px) {
	.tagline{
		margin-right: 10%;
		margin-left: 10%;
	}

	footer {
		display: block;
	}

	footer .footer-logo {
		margin: 0 auto;
	}

	footer .footer-links {
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding: 8px 0;
		text-align: center;
	}

	footer .footer-links li {
		display: inline;
		margin: 0 6px;
	}
}

@media (max-width: 480px) {
	body {
	  font-size: 16px;
	}

	ul.issue-index-thumbs li img {
		float: none;
		margin-right: 0px;
	}

	ul.issue-index-thumbs li:nth-child(even) img {
		float: none;
		margin-left: 0px;
	}

	ul.issue-index-thumbs li article {
		text-align: center;
		margin-left: 0px;
	}

	ul.issue-index-thumbs  li {
		text-align: center;
	}
}
